{% extends "posts/base.html" %}
{% load staticfiles %}
{% load static %}
{% block head %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>

{{ block.super }}
{% endblock %}

{% block headtitle %}Edit{% endblock %}

{% block head_extra %}
{{ form.media }}

{% endblock head_extra %}

{% block content %}
<br>
<br>
<br>

<div class="container">
    <form action="{% url 'updatepost' id=instance.id %}" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
            <script type="text/javascript" >
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
         <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
         </button>
    </form>
    <br>

</div>

{% endblock %}

