{% extends "posts/base.html" %}

{% block content %}

<div class="#e0e0e0 grey lighten-2">
    <div class="container">
      <div class="card-panel">
        <h2>Sign up</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style= "color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </form>
      </div>
    </div>
</div>



{% endblock %}